[submodule "archie-service-backend"]
	path = archie-service-backend
	url = https://github.com/blitzy-ai/archie-service-backend.git
[submodule "archie-service-markdown"]
	path = archie-service-markdown
	url = https://github.com/blitzy-ai/archie-service-markdown.git
[submodule "db-common-model"]
	path = db-common-model
	url = https://github.com/blitzy-ai/db-common-model.git
[submodule "archie-platform-event-listener"]
	path = archie-platform-event-listener
	url = https://github.com/blitzy-ai/archie-platform-event-listener.git
[submodule "archie-github-handler"]
	path = archie-github-handler
	url = https://github.com/blitzy-ai/archie-github-handler.git
